.main{
    background-image: url("images/header-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100vh;
}
.bg1{
    background-image: url("images/video-bg.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 40vh;
    border-radius: 10px;
}
.bg7{
    background-image: url("images/menu-bg.jpg");
    /* height: 110vh; */
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;
}
.bg9{
    background-color: #b68834;
    /* height: 100vh; */
}
.bg5{
    background-image: url("images/footer-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* height: 70vh; */
}